{# Хедер таблицы #}
<div class="product">
    <table id="product-table" class="tablesorter">
      <thead>
        <tr>
          <th>
            Фото
          </th>
          <th>
            Название
          </th>
          <th>
            Цена
          </th>
          <th>
            Описание
          </th>
          <th>
            Ссылка
          </th>
        </tr>
      </thead>
      <tbody>

{# Непосредственно вывод продуктов в таблицу #}
{% for product in products %}
        <tr>
          <td>
            <img src="{{ product.image }}" />
          </td>
          <td>
            {{ product.name }}
          </td>
          <td>
            {{ product.formatPrice }}
          </td>
          <td>
            {{ product.description }}
          </td>
          <td>
            <a href="{{ product.link }}" target="__blank">Показать</a>
          </td>
        </tr>
{% endfor %}
    </table>
  </div>